{
  "globals": {
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DEVELOPMENT__": true,
    "__DEVTOOLS__": true,
    "__SSR__": true,
    "__INITIAL_STATE__": true,
    "__CONFIG__": true,
    "__API_PROTOCOL__": true,
    "__API_HOST__": true,
    "__API_PORT__": true,
    "__SOCKET_PROTOCOL__": true,
    "__SOCKET_HOST__": true,
    "__SOCKET_PORT__": true,
    "__PROTOCOL": true,
    "__HOST__": true,
    "__PORT__": true,
    "isomorphicTools": true
  },
  "plugins": [
    "react"
  ]
}