@import '../../../styles/variables.css';

.FilterSorting {

	&-wrapper {
		padding: 20px 0 0 220px;
		position: relative;
		margin-top: 20px;
		border-top: 1px solid #dce0e0;
	}

	&-heading {
		color: #7E8492;
		position: absolute;
		left: 0;
		top: 20px;
		text-transform: uppercase;
		font-size: 12px;
		font-family: var(--font-family-bold);
	}

	&-field {
	 	cursor: pointer;
		float: left;
		width: 130px;
		padding-left: 30px;
		display: block;
	}

	&-button {
		color: #7F8C9D;
		text-align: center;
		position: relative;
		line-height: 1;

		&::before {
			position: absolute;
			left: 10px;
			text-transform: lowercase;
			top: 8px;
		}

	 	&::after {
		 	padding-left: 10px;
		 	text-transform: lowercase;
		 	line-height: 1;
		 	position: absolute;
		 	left: -38px;
		 	top: 2px;
	 	}
	}

	&-button--first {
		border-radius: 3px 0 0 3px;
	}

	&-button--last {
		border-radius: 0 3px 3px 0;
	}

	&-button--active {
		color: #18B2AE;
	 	font-family: var(--font-family-bold);
	}
}